@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * The raw css source that tailwind compiles index.css from
 */

/* makes sure footer sits at bottom of screen
html, body {
  height: 100%;
}*/

:root {
  --primary: #01baefff;
  --primary-highlight: #01baef99;
  --secondary: #0cbabaff;
  --accent1: #380036ff;
  --accent2: #26081cff;
  --accent3: #150811ff;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent1 {
  background-color: var(--accent1);
}

.bg-accent2 {
  background-color: var(--accent2);
}

.bg-accent3 {
  background-color: var(--accent3);
}

.text-accent3 {
  color: var(--accent3);
}

.btn-base {
  @apply font-bold py-2 px-4 rounded;
}

.btn {
  @apply btn-base bg-primary text-accent3;
}

.btn:hover {
  background-color: var(--primary-highlight);
}

.logo-font {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.brand-logo {
  @apply text-4xl logo-font;
  color: var(--accent1);
}

/* grid-template-columns must be added at runtime */
.board {
  display: grid;
  width: fit-content;
}

.board-square {
  width: 26px;
  height: 26px;
  background: #dfc566;
}

.hidden-hover-element {
  height: 26px;
  width: 26px;
  opacity: 0;
  position: absolute;
}

.board-square-white:hover {
  background-color: white;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  opacity: 0.5;
}

.board-square-black:hover {
  background-color: black;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  opacity: 0.5;
}

/* these classes are for drawing the board grid */
.inner-board-square::before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  width: 26px;
  height: 26px;
  transform: translate3d(13px, 13px, 0);
  box-sizing: border-box;
  pointer-events: none;
}
