<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
  </head>

  <body>
    <script src="/static/js/elm.js"></script>
    <script>
      // load Web Worker
      const worker = new Worker("/static/js/worker.js");

      const authCookieJsonStr = document.cookie
                                  .split("; ")
                                  .find((row) => row.startsWith("ngo_viewer_data="))
                                  ?.split("=")[1];

      const authCookieData = JSON.parse(decodeURIComponent(authCookieJsonStr || null));
      const app = Elm.Main.init({ flags: authCookieData });

      // listen for calls to `sendScoreGame` and pass along to web worker
      app.ports.sendScoreGame.subscribe(function (game) {
        worker.postMessage({ type: "score", value: game });
      });

      // listen for `returnScoreGame` responses from web worker and forward to Elm.Main app
      worker.onmessage = function ({ data }) {
        app.ports.receiveReturnedGame.send(data);
      }
    </script>
    <noscript>This App requires JavaScript.</noscript>
  </body>
</html>
